*{

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

:root{
    --main-color:rgb(92, 166, 185);
    --black-color:#1c1a1a;
    border: 0.1rem solid rgba(255,255,255,0.4);
}

/* 
base html codes */
body{
    background-color:var(--main-color) ;
    
}
section{
    padding: 3.5rem 7;
    padding: 2%;
    margin: 2rem 7%;


}
html{
font-size: 62.5%;
/* rem piksel yapısı araştır */
overflow-x: hidden;
scroll-padding-top: 9rem;
scroll-behavior: smooth;

}

/* base html end */




/* header start */
.header{
background-color: white;
display:flex;
/* yan yana attık */
align-items: center;
/* dikeyde hizaladık */
justify-content: center;
padding: 2%;
margin: 2rem 7%;
border-radius: 30rem;
box-shadow:14px 13px 21px 6px rgba(0,0,0,0.75);
position: sticky;
top: 0;
z-index: 1000;

}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:var(--black-color);

}

.header .navbar .active,.header .navbar a:hover{
    border-bottom:0.1rem solid transparent ;
    border-color: var(--main-color);
    padding-bottom: 0.5rem;

}
.Hakkımda{

    min-height: 100vh;
    display: flex;
    align-items: center;

}
.Hakkımda .content{
    max-width: 60rem;

}
.Hakkımda .content h3{
    font-size: 6rem;
    color: rgb(23, 7, 128);
}
.Hakkımda .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    /* satır arasındaki boşluk */
    padding:1rem o;
    /* 1 reme sağddan sola sıfır olsun */
color:#fff;

}



/* BUTON CLASSI OLUŞTURMAN LAZIM Bİ ARA 53 DK DA */
.Hakkımda .content p{

    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    padding: 1rem 0;
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Hakkımda .content h2{
    font-size: 6rem;
    color: rgb(23, 7, 128);




}
.Hakkımda .content ul li a{

    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    padding: 1rem 0;
    color:#fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* header end */
.Eğitim{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.Eğitim  h3{
    font-size: 6rem;
    color: rgb(23, 7, 128);
}
.Eğitim .cont p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.7;
    /* satır arasındaki boşluk */
    padding:1rem o;
    /* 1 reme sağddan sola sıfır olsun */
color:#fff;

}

.Şehrim .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.Şehrim .box-container .box{

    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.Şehrim .box-container .box img{
    width:100%;
    object-fit: cover;
}
.Şehrim h3{
    font-size: 6rem;
    color: rgb(23, 7, 128);
}